body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    background:url("1525.jpg");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
  }
  
  #header{
    display: flex;
    position: fixed;
    top:0;
    z-index: 1;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height:10%;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }
  #logoutBtn{
    height: 100%;
    width:auto;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
    border:0px;
  }
  #logoutBtn:hover{
    color: black;
    background-color: rgb(248, 128, 248);
  }
  #signupBtn{
    height: 100%;
    width:auto;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
    border:0px;
  }
  #signupBtn:hover{
    color: black;
    background-color: rgb(248, 128, 248);
  }
  #signinBtn{
    height: 100%;
    width:auto;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    background-color: rgb(255, 255, 255);
    border:0px;
    transition: 0.5s;
    border-left: solid 2px rgb(0, 0, 0);
  }
  #signinBtn:hover{
    background-color: rgb(255, 251, 30);
    color: black;
  }
  #mainBox{
    position: relative;
    width: 100%;
    height: auto;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #productRow{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height:40%;
    width: 100%;
    margin-bottom: 15px;
  }
  
  #productBox{
    align-self: center;
    background:white;
    display: flex;
    border: solid 2px rgb(65, 5, 65);
    border-radius: 8px;
    transition: 0.5s;
    flex-direction: column;
    align-items: center;
    
    height:31%;
    width:27%;
  }
  #productBox:hover{
    box-shadow: 7.5px 7.5px;
  }
  #authBtn{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
  }
  .productBtnDiv{
    display: flex;
    flex-direction: row;
    height:10%;
    width: 100%;
  
    justify-content: space-evenly;
  }
  .productBtn{
    color: black;
    background-color: white;
    
    border: 1px solid black;
    width: 43%;
    height: 30px;
    box-shadow: 5px 5px rgb(65, 5, 65);
    padding: 2px;
    transition: 0.5s;
  }
  .productBtn:hover{
    color: white;
    background-color: rgb(119, 7, 119);
    box-shadow: 0 0;
  }
  #welcomeBox{
    color: black;
    background-color: rgb(250, 205, 109);
    border: 2px solid black;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    box-shadow: 10px 10px black;
  }
  .imgDiv{
    background:url("loginImg.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 300px;
    width: 100%;
  }